@tailwind components;

@layer components {
  .app-container {
    @apply h-full w-full flex flex-col justify-center items-center pb-8;
    @apply sm:border-8 border-accent1 dark:border-accent1-dark;
    @apply border-t-0;
  }

  @responsive {
    .section-container {
      margin: 0px;
      min-height: 50vh;
    }
  }

  .header {
    @apply bg-header;
  }

  .skill-grid {
    @apply grid;
    grid-template-columns: 1fr 2fr;
  }

  .hero-button {
    @apply flex justify-center items-center flex-row  py-2 px-6 rounded cursor-pointer;
    @apply w-max;
    @apply font-bold text-white;
    @apply bg-accent2 dark:bg-accent2-dark;
    @apply transition-all duration-500;
    @apply hover:text-white hover:shadow-xl;
  }

  .badge {
    @apply rounded inline-block align-middle;
    @apply font-bold text-xs whitespace-nowrap uppercase;
    @apply text-gray-500 dark:text-white;
    @apply bg-gray-300 dark:bg-gray-600;
    @apply mr-2 mb-2 py-1 px-4;
  }

  .uk {
    @apply align-middle inline-block;
    width: 35px;
    height: 35px;
  }

  .header-portrait, .portrait {
    @apply object-cover rounded-full;
    width: 300px;
    height: 300px;
  }

  .hand-wave {
    @apply -mt-16;
    cursor: grab;
  }

  nav a {
    @apply text-white cursor-pointer transition duration-200;
  }

  nav .nav-item {
    @apply py-4 z-30;
  }

  nav .page-link {
    @apply px-4 py-2 rounded;
    @apply hover:bg-white hover:text-accent1-dark;
  }

  .fade-in-section {
    opacity: 0;
    padding-top: 400px;
    visibility: hidden;
    transition: opacity 2s ease-out, padding 1.6s ease-out;
    will-change: opacity, visibility;
  }
  
  .fade-in-section.is-visible {
    opacity: 1;
    padding-top: 0;
    visibility: visible;
    display: flex; 
  }
}

@import './hand-wave.css';
